<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {{template "e_head.gohtml" .}}
</head>

<body>
    {{template "e_header.gohtml" .}}
    <div class="container">
        <div class="card mb-4 overflow-auto" id="embed" style="display: none;">  
            <div class="card-body d-flex justify-content-center">
                
            </div>
            <div class="card-footer d-flex justify-content-center flex-column">
                <label for="slider"></label>
                <input type="range" id="slider" min="0" max="0" value="0" />
            </div>
        </div>

        {{ $camera := .Camera }}
        {{ $vPath := .VPath }}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <a class="btn btn-primary me-2" href="/" title="Voltar"><i class="fa-solid fa-arrow-left fa-fw"></i></a>
                {{ .File.Name }}
            </div>
            <div class="card-body">
                {{ if $vPath }}
                <div>
                    <a class="btn" href="{{ $camera.FileURL $vPath ".." }}"><i class="fa-solid fa-folder fa-fw"></i> ..</a>
                </div>
                {{ end }}

            {{range $key, $value := .Files}}
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <a class="btn" data-type="{{ .Type }}" {{ if $value.Embeddable }} data-embeddable {{ end }} data-name="{{ $value.Name }}" href="{{ $camera.FileURL $vPath $value.Name }}">
                    {{ if $value.IsDir }}
                        <i class="fa-solid fa-folder fa-fw"></i> {{ .Name }}
                    {{ else }}
                        <i class="fa-solid fa-file fa-fw"></i> {{ .Name }}
                    {{ end }}
                    </a>
                    
                    {{ if $value.Embeddable }}
                        <button class="btn btn-sm btn-primary ms-2" data-set="{{ $key }}"><i class="fa-regular fa-eye"></i></button>
                    {{ end }}
                </div>
            {{end}}
            </div>
        </div>
    </div>
    {{template "e_footer.gohtml" .}}
    <style>
        .slider {
            width: 100%;
        }
    </style>
    <script>
        (function() {
            var $e = $('[data-embeddable]');
            var $embed = $('#embed');
            var $embedTarget = $embed.find('div.card-body');
            var $slider = $embed.find('#slider');
            var $sliderLabel = $($slider[0].labels[0]);

            $slider.attr('max', $e.length - 1);
            $slider.on('input', function (e) {
                changeEmbed(parseInt(e.currentTarget.value));
            });
    
            var currEmbed = 0;
    
            if ($e.length == 0) {
                return;
            }
    
            $embed.show();
            
            function preloadImage(url) {
                img = new Image();
                img.src = url;
            }

            function changeEmbed(to) {
                if (!(to in $e)) {
                    return;
                }

                currEmbed = to;
                //location.replace('#'.concat(to));
                var a = $e[to];
                $sliderLabel.html(a.dataset.name);
                $slider.val(to);
                $e.removeClass('btn-secondary');
                a.classList.add('btn-secondary');

                switch (a.getAttribute('data-type')) {
                    case 'Image':
                        var $existing = $embedTarget.find('img');
                        if ($existing.length > 0) {
                            $existing.attr('src', a.href);
                        } else {
                            $embedTarget.html($('<div>').html($('<img role="button" class="img-fluid">').attr('src', a.href)));
                        }
                        break;
                        
                    case 'Video':
                        var $existing = $embedTarget.find('video');
                        if ($existing.length > 0) {
                            $existing.attr('src', a.href);
                        } else {
                            $embedTarget.html($('<div>').html($('<video class="embed-responsive embed-responsive-16by9" controls>').attr('src', a.href)));
                        }
                        break;
                }
                
                var nextEmbed = to + 1;
                var prevEmbed = to - 1;
                
                if (nextEmbed in $e) {
                    preloadImage($e[nextEmbed].href);
                }
                
                if (prevEmbed in $e) {
                    preloadImage($e[prevEmbed].href);
                }
            }

            window.addEventListener('keydown', function (e) {
                if (e.isComposing) {
                    return;
                }

                switch (e.key) {
                    case "ArrowLeft":
                        e.preventDefault();
                        changeEmbed(currEmbed - 1);
                        break;
                        
                        case "ArrowRight":
                        e.preventDefault();
                        changeEmbed(currEmbed + 1);
                        break;

                    case "Home":
                        event.preventDefault();
                        changeEmbed(0);
                        break;

                    case "End":
                        event.preventDefault();
                        changeEmbed($e.length - 1);
                        break;
                }
            });

            $embedTarget.on("click", "img", function (e) {
                e.preventDefault();
                var halfWidth = e.currentTarget.width / 2;

                if (e.originalEvent.offsetX > halfWidth) {
                    changeEmbed(currEmbed + 1);
                } else {
                    changeEmbed(currEmbed - 1);
                }
            });

            $(document.body).on('click', '[data-set]', function (e) {
                var set = e.currentTarget.getAttribute('data-set');
                changeEmbed(parseInt(set));
                window.scrollTo(0, 0);
            });

            changeEmbed(currEmbed);
        }())
    </script>
</body>

</html>