<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {{template "e_head.gohtml" .}}
</head>

<body>
    {{template "e_header.gohtml" .}}
    <div class="container">
        <div class="card mb-4" id="embed" style="display: none;">  
            <div class="card-body d-flex justify-content-center">
                
            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary prev"><i class="fa-solid fa-arrow-left fa-fw"></i></button>
                    <button type="button" class="btn btn-primary fullscreen"><i class="fa-solid fa-expand fa-fw"></i></button>
                    <button type="button" class="btn btn-primary next"><i class="fa-solid fa-arrow-right fa-fw"></i></button>
                </div>
            </div>
        </div>

        {{ $camera := .Camera }}
        {{ $vPath := .VPath }}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <a class="btn btn-primary me-2" href="/" title="Voltar"><i class="fa-solid fa-arrow-left fa-fw"></i></a>
                {{ .File.Name }}
            </div>
            <div class="card-body">
                {{ if $vPath }}
                <div>
                    <a class="btn" href="{{ $camera.FileURL $vPath ".." }}"><i class="fa-solid fa-folder fa-fw"></i> ..</a>
                </div>
                {{ end }}

            {{range $key, $value := .Files}}
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <a class="btn" data-type="{{ .Type }}" {{ if $value.Embeddable }} data-embeddable {{ end }} data-name="{{ $value.Name }}" href="{{ $camera.FileURL $vPath $value.Name }}">
                    {{ if $value.IsDir }}
                        <i class="fa-solid fa-folder fa-fw"></i> {{ .Name }}
                    {{ else }}
                        <i class="fa-solid fa-file fa-fw"></i> {{ .Name }}
                    {{ end }}
                    </a>
                    
                    {{ if $value.Embeddable }}
                        <button class="btn btn-sm btn-primary ms-2" data-set="{{ $key }}"><i class="fa-regular fa-eye"></i></button>
                    {{ end }}
                </div>
            {{end}}
            </div>
        </div>
    </div>
    {{template "e_footer.gohtml" .}}
    <script>
        (function() {
            var $e = $('[data-embeddable]');
            var $embed = $('#embed');
            var $embedTarget = $embed.find('div.card-body');
            var $next = $embed.find('.next');
            var $prev = $embed.find('.prev');
            var $fullscreen = $embed.find('.fullscreen');
    
            var currEmbed = 0;
    
            if ($e.length == 0) {
                return;
            }
    
            $embed.show();
            
            if (location.hash.length > 0) {
                var h = location.hash.substring(1);
                currEmbed = parseInt(h);
                if (!(currEmbed in $e)) {
                    currEmbed = 0;
                }
            }
            
            function preloadImage(url) {
                img = new Image();
                img.src = url;
            }

            function changeEmbed(to) {
                if (!(to in $e)) {
                    return;
                }

                currEmbed = to;
                location.replace('#'.concat(to));
                var a = $e[to];

                switch (a.getAttribute('data-type')) {
                    case 'Image':
                        var $existing = $embedTarget.find('img');
                        if ($existing.length > 0) {
                            $existing.attr('src', a.href);
                        } else {
                            $embedTarget.html($('<img role="button" class="img-fluid">').attr('src', a.href));
                        }
                        break;
                        
                    case 'Video':
                        var $existing = $embedTarget.find('video');
                        if ($existing.length > 0) {
                            $existing.attr('src', a.href);
                        } else {
                            $embedTarget.html($('<video class="embed-responsive embed-responsive-16by9" controls>').attr('src', a.href));
                        }
                        break;
                }
                
                var nextEmbed = to + 1;
                var prevEmbed = to - 1;
                
                if (nextEmbed in $e) {
                    preloadImage($e[nextEmbed].href);
                }
                
                if (prevEmbed in $e) {
                    preloadImage($e[prevEmbed].href);
                }
                
                var isFirst = to == 0;
                var isLast = to == $e.length - 1;

                if (isFirst) {
                    $prev.attr('disabled', true);
                } else {
                    $prev.removeAttr('disabled', true);
                }

                if (isLast) {
                    $next.attr('disabled', true);
                } else {
                    $next.removeAttr('disabled', true);
                }
            }

            window.addEventListener('keydown', function (e) {
                if (e.isComposing) {
                    return;
                }

                switch (e.key) {
                    case "ArrowLeft":
                        e.preventDefault();
                        changeEmbed(currEmbed - 1);
                        break;
                        
                        case "ArrowRight":
                        e.preventDefault();
                        changeEmbed(currEmbed + 1);
                        break;

                    case "Home":
                        event.preventDefault();
                        changeEmbed(0);
                        break;

                    case "End":
                        event.preventDefault();
                        changeEmbed($e.length - 1);
                        break;
                }
            });
            
            $prev.on("click", function (e) {
                e.preventDefault();
                changeEmbed(currEmbed - 1);
            });

            $next.on("click", function (e) {
                e.preventDefault();
                changeEmbed(currEmbed + 1);
            });

            $embedTarget.on("click", "img", function (e) {
                e.preventDefault();
                var halfWidth = e.currentTarget.width / 2;

                if (e.originalEvent.offsetX > halfWidth) {
                    changeEmbed(currEmbed + 1);
                } else {
                    changeEmbed(currEmbed - 1);
                }
            });

            $fullscreen.on("click", function (e) {
                e.preventDefault();
                $embed[0].requestFullscreen();
            });
                        

            $(document.body).on('click', '[data-set]', function (e) {
                var set = e.currentTarget.getAttribute('data-set');
                changeEmbed(parseInt(set));
                window.scrollTo(0, 0);
            });

            changeEmbed(currEmbed);
        }())
    </script>
</body>

</html>