<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {{template "e_head.gohtml" .}}
</head>

<body>
    {{template "e_header.gohtml" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 offset-md-3">
                {{range .Cameras}}
                <div class="d-flex w-100">
                    <a class="btn btn-primary flex-fill m-1" href="{{.ViewURL}}">{{.Label}}</a>
                    {{ if .Files }}
                        <a class="btn btn-primary m-1" href="{{.FileURL ""}}"><i class="fa-regular fa-image"></i></a>
                    {{ end }}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{template "e_footer.gohtml" .}}
</body>

</html>